flows/newOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Record_to_Collection</name>
        <label>Assign Record to Collection</label>
        <locationX>716</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>oppLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Product_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Values</name>
        <label>Set Field Values</label>
        <locationX>716</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>oppLine.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLine.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLine.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLine.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLine.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>newOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>newOpportunity</label>
    <loops>
        <name>Loop_Over_Product_Ids</name>
        <label>Loop Over Product Ids</label>
        <locationX>455</locationX>
        <locationY>188</locationY>
        <assignNextValueToReference>productId</assignNextValueToReference>
        <collectionReference>productIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Pricebook_Entry_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOppLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOppLines</name>
        <label>CreateOppLines</label>
        <locationX>454</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Opportunity_Created</targetReference>
        </connector>
        <inputReference>oppLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>newOpp</name>
        <label>newOpp</label>
        <locationX>333</locationX>
        <locationY>188</locationY>
        <assignRecordIdToReference>oppId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Over_Product_Ids</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Account.recordName} - {!Close_Date}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Pricebook_Entry_Id</name>
        <label>Get Pricebook Entry Id</label>
        <locationX>608</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Field_Values</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPricebook</name>
        <label>getPricebook</label>
        <locationX>203</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newOpp</targetReference>
        </connector>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>83</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getPricebook</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Created</name>
        <label>Opportunity Created</label>
        <locationX>457</locationX>
        <locationY>548</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Opportunity was successfully created!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>83</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>pricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
